.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-header {
  color: #00849c;
  font: 28pt 'Montserrat', sans-serif;
  margin-bottom: 20px;
  margin-top: 0;
}

.text-input-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.inputType {
  color: #81a1b7;
  font: 18px 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.accountButton {
  width: 360px;
  height: 56px;
  background-color: #00849c;
  font-size: 18px;
  font: bold 18px 'Montserrat', sans-serif;
  color: white;
  border: none;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
  margin-bottom: 40px;
}

.accountButton:hover {
  background-color: #0790a9;
}

.register-input-box {
  border-radius: 9px;
  border: 1px solid #81a1b7;
  margin-top: 5px;
  width: 330px;
  outline: none;
  font: 14px 'Montserrat', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

.terms-text {
  font: 10px 'Montserrat', sans-serif;
  color: #81a1b7;
  margin-top: 50px;
}

.terms-and-cond {
  text-decoration: underline;
  font: 10px 'Montserrat', sans-serif;
  font-weight: 400;
  color: #81a1b7;
}

.terms-and-cond:hover {
  text-decoration-color: #6d8a9d;
  color: #6d8a9d;
  cursor: pointer;
}
