@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
.Login {
  justify-content: center;
}

.App {
  text-align: center;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #00849c;
  font-size: 24pt;
  margin: 0;
}

.activeButton {
  background-color: #00849c;
  color: white;
  padding: 2px;
  margin: 2px;
  width: 90px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: #00849c solid 2pt;
}

.activeButton:hover {
  background-color: #00849c;
  color: white;
}

.inactiveButton {
  background-color: white;
  color: #00849c;
  padding: 2px;
  margin: 2px;
  width: 90px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: #00849c solid 2pt;
}

.inactiveButton:hover {
  background-color: #00849c;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 90vh;
}

.content {
  flex-grow: 1;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  border-right: 1px solid #e4e4e4;
  height: 90vh;
  overflow-y: hidden;
}

.centre-content {
  display: flex;
  flex-direction: column;
  width: 35vw;
  background-color: white;
  height: 90vh;
  border-right: 1px solid #e4e4e4;
  overflow-y: scroll;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 90vh;
  background-color: white;
}

.Filters {
  margin-bottom: 20px;
}

.filterContainer {
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  height: 100%;
  margin: 25px;
  padding: 5px;
  overflow-y: hidden;
}

.filterScroll {
  height: 99%;
  overflow-y: scroll;
}

.viewMode {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 40px;
}

.filterReset {
  display: flex;
  width: fill;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  margin: 5px;
  margin-left: 22px;
}

.reset {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c21d49;
  margin: 10px;
  background: white;
  border: none;
}

.reset:hover {
  text-decoration: underline;
  background: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: #d9e3ea;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7d2da;
}
