@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.Login {
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filter-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #00849c;
  font-size: 20pt;
  margin: 0;
}

.activeButton {
  background-color: #00849c;
  color: white;
  padding: 2px;
  margin: 4px;
  width: 110px;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: #00849c solid 2pt;
}

.activeButton:hover {
  background-color: #00849c;
  color: white;
}

.inactiveButton {
  background-color: white;
  color: #00849c;
  padding: 2px;
  margin: 4px;
  width: 110px;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: #00849c solid 2pt;
}

.inactiveButton:hover {
  background-color: #00849c;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 90vh;
}

.content {
  flex-grow: 1;
}

/* .content + .content {
  margin-left: 2%;
} */

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 90vh;
  border-right: 1px solid #e4e4e4;
}

.right-content {
  display: flex;
  width: 75vw;
  background-color: white;
}

.Filters {
  margin: 10px;
}

.filterContainer {
  border-radius: 10px;
  border: 1px solid #e4e4e4;
}

.viewMode {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 40px;
}

.filterReset {
  display: flex;
  width: fill;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  margin-left: 40px;
}

.reset {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c21d49;
  margin: 10px;
  background: white;
  border: none;
}
