@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.photo {
  width: 270px;
}

.Logo {
  display: flex;
  justify-content: center;
  padding-top: 3cm;
}

.inputTitle {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #81a1b7;
  font-size: 14pt;
  font-weight: 700;
  margin: 5px;
}

.orText {
  display: flex;
  justify-content: center;
  color: rgb(0, 132, 156);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.forgetPass {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 12pt;
}

.forgetPass a:link,
a:visited {
  color: rgb(0, 132, 156);
  font-weight: 400;
}

/* need to make the width(?) of the input boxes responsive*/
input {
  border-radius: 9px;
  border: #81a1b7 solid 1pt;
  height: 35px;
  overflow: scroll;
  width: 350px;
  padding: 10px;
  margin: 5px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
}

  

.inputPwBox,
.inputEmailBox {
  display: grid;
  justify-content: center;
  padding-top: 0.5cm;
}

.loginButtons {
  padding-top: 1cm;
  display: flex;
  justify-content: center;
}

.googleButton {
  padding-top: 0.5cm;
  display: flex;
  justify-content: center;
  text-align: center;
}

.googleButton button {
  width: 370px;
  background-color: white;
  text-align: center;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  border: #00849c solid;
  color: #00849c;
  width: 175;
  height: 56px;
  margin: 10px;
}

.googleButton img {
  width: 20px;
  align-content: left;
  left: 0px;
  margin-right: 10px;
}

/* button {
  text-align: center;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  border: #00849c solid;
  color: #00849c;
  width: 175;
  height: 56px;
  margin: 10px;
}
*/ 
button:focus {
    outline:0;
} 

.loginButtons button {
    width: 175px;
    text-align: center;
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: #00849c solid;
    color: #00849c;
    height: 56px;
    margin: 10px;
    background-color: white;
  }

button:hover, .loginButtons button:hover {
    background-color:rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.login button {
    background-color: #00849c;
    color: white;
  }
  
.login button:hover {
    background-color:rgb(0, 97, 114);
}
