.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid #e4e4e4;
}

.rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin: 25px;
  height: auto;
}

.hello {
  margin: 40px;
  font: 18px 'Montserrat', sans-serif;
  font-weight: 300;
}

.logoutButton,
.logoutButton:hover,
.logoutButton:active,
.logoutButton:focus {
  margin-right: 40px;
  background-color: white;
  font-size: 10px;
  font-weight: 300;
  font: 18px 'Montserrat', sans-serif;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
