@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.filter-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #00849c;
  font-size: 24pt;
  margin: 0;
  padding-left: 20px;
}

.active-button {
  background-color: #00849c;
  color: white;
  padding: 2px;
  margin: 2px;
  width: 90px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: #00849c solid 2pt;
}

.active-button:hover {
  background-color: #00849c;
  color: white;
}

.inactive-button {
  background-color: white;
  color: #00849c;
  padding: 2px;
  margin: 2px;
  width: 90px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 5px;
  border: #00849c solid 2pt;
}

.inactive-button:hover {
  background-color: #00849c;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.content {
  flex-grow: 1;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  border-right: 1px solid #e4e4e4;
  height: 90vh;
  overflow-y: hidden;
}

.centre-content {
  display: flex;
  flex-direction: column;
  width: 35vw;
  background-color: white;
  height: 90vh;
  border-right: 1px solid #e4e4e4;
  /* overflow-y: scroll; */
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 90vh;
  background-color: white;
}

.filter-container {
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  height: 100%;
  margin: 25px;
  padding: 5px;
  overflow-y: hidden;
}

.filter-scroll {
  height: 99%;
  overflow-y: scroll;
}

.view-mode {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 40px;
}

.filter-reset {
  display: flex;
  width: fill;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  margin: 5px;
  margin-left: 22px;
}

.reset {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c21d49;
  margin: 10px;
  background: white;
  border: none;
  margin-top: 14px;
  outline: none;
}

.reset:hover,
.reset:active {
  text-decoration: underline;
  background: none;
  outline: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: #d9e3ea;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7d2da;
}

.FiltersPage {
  overflow: hidden;
}

.filters-page-map {
  height: 90vh;
}
