.create-profile-wrapper-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0% 20% 0% 20%;
  margin: 0px;
  height: 80%;
  overflow-y: auto;
  max-width: 1000px;
}

.create-profile-outer-div {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-done-button {
  width: 100px;
  height: 25px;
  border-radius: 28px;
  background-color: #00849c;
  font: bold 12px 'Montserrat', sans-serif;
  margin: 20px 30px 0px 0px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.create-profile-hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #81a1b7;
  margin: 10px 10px 10px 50px;
  width: 80%;
}

.profile-blue-border {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  max-width: 630px;
  padding-left: 5px;
  border-left: 15px solid #00849c;
  margin: 0px;
  height: 900px;
  overflow-y: auto;
}

.profile-hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #81a1b7;
  margin: 10px 10px 10px 50px;
  width: 85%;
}

.profile-descriptions {
  display: flex;
  flex-direction: column;
}

.profile-header {
  color: #81a1b7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 60px;
  display: flex;
  justify-content: left;
}

.profile-info {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 15px 75px;
  font-weight: 400;
  word-wrap: break-word;
}

.profile-mission-input {
  border-radius: 9px;
  border: 1px solid #81a1b7;
  margin: 5px 0 0 60px;
  outline: none;
  font: 12px 'Montserrat', sans-serif;
  padding: 5px 15px;
  display: block;
  overflow: auto;
  resize: none;
  min-height: 56px;
  width: 75%;
  line-height: 20px;
}

.profile-description-input {
  border-radius: 9px;
  border: 1px solid #81a1b7;
  margin: 5px 0 0 60px;
  outline: none;
  font: 12px 'Montserrat', sans-serif;
  padding: 5px 20px 5px 20px;
  display: block;
  overflow: auto;
  resize: none;
  min-height: 200px;
  width: 75%;
  line-height: 20px;
}

.profile-text-tags-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 10%;
  margin-bottom: 3px;
}
.profile-pic-text-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 35px;
}

.profile-pic {
  border-radius: 1000px;
  width: 123px;
  height: 120px;
  margin: 10px;
}
.profile-pic-edit {
  border-radius: 1000px;
  width: 123px;
  height: 120px;
  margin: 10px;
  opacity: 0.3;
}

.profile-pic-container {
  position: relative;
}

.profile-edit-pic {
  display: inline;
  cursor: pointer;
  position: absolute;
  margin-top: 68px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  font-size: 18px;
  border-radius: 50%;
}

.profile-name-container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 8px 0 0 12px;
  margin-right: 20px;
}

.profile-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12px 20px 12px 35px;
}

.profile-text-container {
  font: 25px 'Montserrat', sans-serif;
  color: #00849c;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: column;
  margin-right: 20px;
}

.profile-edit-profile-text-container {
  font: 25px 'Montserrat', sans-serif;
  color: #00849c;
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
}

.profile-co-op-name {
  font: 25px 'Montserrat', sans-serif;
  font-weight: bold;
  color: #00849c;
  width: 294px;
  outline: none;
}

.profile-co-op-location {
  font: 15px 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 18px;
  color: black;
  padding: 5px;
  margin-left: 10px;
}

.profile-co-op-contact {
  font: 12px 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  line-height: 15px;
  padding-left: 5px;
  margin-top: 3px;
  margin-left: 10px;
}

.profile-co-op-contact-link {
  font: 12px 'Montserrat', sans-serif;
  margin: 3px 0px 0px 15px;
  color: #00849c;
  outline: none;
  width: fit-content;
}

.profile-name-input {
  font: 25px 'Montserrat', sans-serif;
  font-weight: bold;
  width: 80%;
  color: #00849c;
}

.profile-small-input {
  font: 11px 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 11px;
  border-radius: 5px;
  color: black;
  padding: 5px 13px 5px 13px;
  width: 33%;
  height: 15px;
  outline: none;
}

.profile-top-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}

.profile-edit-button {
  width: 49px;
  height: 20px;
  border-radius: 28px;
  border: none;
  outline: none;
  background-color: #f8f9fb;
  font: bold 10px 'Montserrat', sans-serif;
  margin: 20px 30px 0px 0px;
  color: #81a1b3;
  cursor: pointer;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.profile-save-button {
  width: 49px;
  height: 20px;
  border-radius: 28px;
  background-color: #81a1b7;
  font: bold 10px 'Montserrat', sans-serif;
  margin: 20px 30px 0px 0px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.profile-socials-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 50px 50px;
}
.profile-social-button {
  width: 25px;
  height: 25px;
  margin: 4px;
}

.profile-starred {
  width: 1em;
  height: 1em;
  fill: #ffc011;
  cursor: pointer;
}

.profile-not-starred {
  width: 1em;
  height: 1em;
  fill: grey;
  cursor: pointer;
}
