@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  max-width: 35vw;
  padding-left: 10px;
  border-left: 10px solid #00849c;
  margin-bottom: 3px;
  border-bottom: 1px solid #dde8ec;
  max-height: 18vw;
  cursor: pointer;
}

.card-selected {
  background-color: #f3f3f3;
}

.card-pic-text-container {
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  padding-top: 20px;
}

.card-profile-pic {
  border-radius: 1000px;
  width: 70px;
  height: 70px;
}

.card-name-container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding-left: 12px;
  padding-top: 8px;
  margin-right: 20px;
}

.card-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12px 20px 22px 20px;
  max-width: 400px;
}

.card-co-op-name {
  font-size: 23px;
  font-weight: 400;
}

.card-co-op-location {
  font-size: 17px;
  font-weight: 300;
}

.card-name-star-wrapper {
  display: flex;
  flex-direction: row;
}

.card-starred {
  width: 1em;
  height: 1em;
  fill: #ffc011;
  padding: 0.3em 0.1em 0.5em 0.35em;
}

.card-not-starred {
  width: 1em;
  height: 1em;
  fill: #81a1b7;
  padding: 0.3em 0.1em 0.5em 0.35em;
}
