.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(10vh - 1px);
  border-bottom: 1px solid #e4e4e4;
}

.navbar-rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  width: 150px;
  height: 150px;
  max-width: 100%;
  margin: 25px;
  height: auto;
}

.navbar-hello {
  margin: 40px;
  font: 14pt 'Montserrat', sans-serif;
  font-weight: 300;
}

.navbar-link-to-profile,
.navbar-link-to-profile:visited {
  color: black;
  text-decoration: none;
}

.nav-button {
  margin: 10px;
  background-color: white;
  font: 12pt 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
}

.nav-button:hover {
  background-color: #f3f3f3;
  color: #81a1b7;
}
